body {
    background-color:#10171d;
    color: white;
    width: 1050px;
    margin: auto ;  
    font-size: 16px;
    font-family: "Segoe UI",Arial,sans-serif;
    line-height: 18px;
    overflow-x: hidden;
}
body > *{
    background-color: #15202b;
    margin: 7px 5px;
    padding-left: 10px;
    border: solid;
    border-width:  1px;
    border-color: #38444d;
}
strong{
    text-transform: uppercase;
    font-style: normal;
}
em strong, main section>p{
    margin-left: 14px;
}
h1,h2{
    font-weight: bold;
}
header {
    background: #1c2938;
    border: none;
    padding-left: 0px;
    padding-top: 0px;
    justify-content: space-between;
    font-size: 200%;
    margin-top: 0px;
    color: #30d7b3;
    box-shadow: 0px 1px 3px #10171d;
    height: 60px;
}
header h1{
    padding-top: 5px;
    margin-top: 30px;
    margin-bottom:15px;
}
header section {
    padding: 28px;
    background: url('img/fondoheader.gif') repeat;
    box-sizing: border-box;
}
header img {
    float:left;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 20px;
    width: 150px;
}
nav {
    background: #1c2938;
    border: none;
    height: 60px;
    margin:0px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 2;
    box-shadow: 0px 1px 3px #10171d;
}
nav ul {
    margin-top: 22px;
    list-style: none;
    text-align: center;
}
nav ul li {
    display: inline;
    width: 100px;
    height: 37px;
    font-weight: bold;
    padding-bottom: 12px; 
    font-size: 18px;
}
nav ul li a, nav a:any-link {
    color: lightslategrey;
    padding: 8px 12px 15px 12px;
    margin: 0px;
}
nav ul li a:hover, nav ul li a.activo {
    color: #30d7b3;
    border-bottom-color: #30d7b3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
nav img {
    position: absolute;
    left: 50px;
    right: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
    width: 170px
}
nav ul form {
    float: right;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
    width: 170px;
    height: 0px;
}
aside {
    float: right;
    padding: 0px;
    color: #30d7b3;
    width: 175px;
    text-align: center;
    margin-right: 75px;
}
aside section{
    border-width:  1px;
    border-color: #38444d;
    padding: 10px 0px 10px 0px;
}
aside h1{
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 22px;
    line-height: 22px;
}
aside ol{
    list-style:none;
    padding-left: 0px;
    margin: auto;
    box-sizing: border-box;
}
aside ol *{
    margin-bottom: 5px;
}
main{
    float: left;
    width: 1050px;
    margin: auto;
    margin-bottom: 10px;
}
main>h1{
    text-align: center;
}
.libro{
    border-bottom: solid;
    border-width:  1px;
    border-color: #38444d;
    float:left;
    width: inherit;
    position: relative;
    right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.libro img{
    float:left;
    margin: 10px 25px 10px 10px;
    width: auto;
    height: 170px;
}
.libro h1{
    font-size: 33px;
    line-height: 33px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.libro em, .libro p{
    color: lightslategrey;
    font-style: normal;
    margin-bottom: 0px;
    font-size: 19px;
}
.libro p{
margin-top: 5px;
}
input[type="submit"] {
    background-color: rgba(48,215,179,0.7);
    border: none;
    color: #fff;
    padding: 20px 36px 20px 36px;
    width: 240px;
    height: 240px;
    border-radius: 150px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 15px;
    margin: 5px 6% 10px 6%;
    cursor: pointer;
    
}
[type="submit"]:hover{
    background-color: #30d7b3;
}
form{
    margin: 180px 120px 180px 120px;
    text-align: center;
}
form>label>input.error{
    border-color:firebrick; 
    border-bottom-width: 2px;
}
.opciones>input {
    display: inline;
    width: 100px;
    padding: 5px;
    margin: 0px 2px 2px 0px;
    border: solid 2px #5c6972;
}
input {
    margin-top: 7px;
    margin-left: 5px;
}
input:not([type="submit"]){
    background-color: #15202b;
    border:none;
    border-bottom: solid 1px;
    border-color: #5c6972;
    color: white;
}
input:focus:not([type="submit"]){
    outline-width: 0;
    border-bottom: solid #30d7b3 2px;
}
[name="nombre"]{
    float: left;
    clear: both;
}
[type="number"]{
    width: 50px;
}
[type="date"]{
    width: 125px;
}legend{
}
footer {
    clear: both;
    color: white;
    height: 60px;
    padding-top: 4px;
    text-align: left;
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #236E68;
    border-width: 1px;
    width: 1050px;
}
footer section{
    display: inline;
    margin: 4px 3% 0px 0px;
}
footer ul{
    list-style: none;
    text-align: left;
    padding-left: 0px;
    margin-top: 5px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
footer #redes{
    margin-left: 70px;
    width: 220px;
    margin-top: 15px;
}
footer input[type="submit"] {
    background-color: rgba(48,215,179,0.7);
    padding: 20px 36px 20px 36px;
    margin: 0px 50px 0px 50px;
    width: auto;
    height: auto;
    border-radius: 150px;
    display: inline-block;
    float: right;
}
footer #redes img{
    margin: 10px 20px 10px 0px;
    filter: drop-shadow(0px 0px 5px #30d7b3);
}
footer #redes p{
    margin-top: 5px;
}
footer #extra ul{
    width: 190px;
    text-align: right;
}
#extra{
    float: right;
    margin: 12px 25px 0px 0px;
}
footer #ciudades h1{
    margin: 0px;
}
a:link { color: #35d7b3; }
a:visited { color: #30d7b3; }
a:hover { color: lightskyblue; }
a:active { color: darkgreen; }
